/*===========HOME==========*/
/*Centrando el contenido principal del sitio*/
#container{
    margin: auto;
    width: 60%;
}
/*Medida del contenedor del header*/
header.main-header{
    width: 80%;
}
/*Centrando el contenido del header*/
div.row-header{
    display: flex;
    justify-content: space-between;
}
div.col-1-3{
    margin: auto;
    display: inline-block;
}
/*Ajustando el ancho de la imagen principal del HOME*/
img[src="images/15.jpg"]{
    width: 100%;
}
/*Centra la seccion "Travis Johnson"*/
.wrap-col div.box-text{
    width: 50%;
}


/*Centrando el header y dandole ancho*/
#web-footer{
    width: 60%;
    margin: auto;
}

footer .wrap-footer{
    width: 100%;
}
/*==========ABOUT==========*/

footer.web2-footer{
    width: 60%;
    margin: auto;
}
/*==========CONTACTS===========*/